ZillowR/inst/xml_schemas/GetMonthlyPayments.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema attributeFormDefault="unqualified"
            elementFormDefault="unqualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ZillowTypes="http://www.zillow.com/static/xsd/ZillowTypes.xsd"
            xmlns="http://www.zillow.com/static/xsd/MonthlyPayments.xsd" 
            targetNamespace="http://www.zillow.com/static/xsd/MonthlyPayments.xsd">

    <xsd:import namespace="http://www.zillow.com/static/xsd/ZillowTypes.xsd"
    schemaLocation="/vstatic/4/static/xsd/ZillowTypes.xsd"/>

    <xsd:element name="paymentsSummary" type="paymentsSummaryResultType" />
	
	<xsd:complexType name="paymentsSummaryResultType">
            <xsd:sequence>
                <xsd:element name="request">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="price" type="xsd:integer" minOccurs="0"/>
                            <xsd:element name="down" type="xsd:integer" minOccurs="0"/>
                            <xsd:element name="dollarsdown" type="xsd:integer" minOccurs="0"/>
                            <xsd:element name="zip" type="xsd:integer" minOccurs="0"/>
                            <xsd:element name="output" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="callback" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
               
                <xsd:element name="message" type="ZillowTypes:Message"/>

                <xsd:element name="response" type="ZillowTypes:MonthlyPaymentsSummary" minOccurs="0"/>
            </xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>
