ZillowR/inst/xml_schemas/GetRateSummary.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema attributeFormDefault="unqualified"
            elementFormDefault="unqualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ZillowTypes="http://www.zillow.com/static/xsd/ZillowTypes.xsd"
            xmlns="http://www.zillow.com/static/xsd/RateSummary.xsd" 
            targetNamespace="http://www.zillow.com/static/xsd/RateSummary.xsd">

    <xsd:import namespace="http://www.zillow.com/static/xsd/ZillowTypes.xsd"
    schemaLocation="/vstatic/4/static/xsd/ZillowTypes.xsd"/>

    <xsd:element name="rateSummary" type="rateSummaryResultType" />
	
	<xsd:complexType name="rateSummaryResultType">
        <xsd:sequence>
            <xsd:element name="request">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="state" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="output" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="callback" type="xsd:string" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
           
            <xsd:element name="message" type="ZillowTypes:Message"/>

            <xsd:element minOccurs="0" name="response" type="ZillowTypes:MortgageRateSummary"/>
        </xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>
