ZillowR/inst/xml_schemas/GetUpdatedPropertyDetails.xsd

<xsd:schema
 attributeFormDefault="unqualified"
 elementFormDefault="unqualified"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ZillowTypes="http://www.zillow.com/static/xsd/ZillowTypes.xsd"> 

 <xsd:import 
   namespace="http://www.zillow.com/static/xsd/ZillowTypes.xsd"
 
   
   schemaLocation="/vstatic/4/static/xsd/ZillowTypes.xsd"  />
  <xsd:complexType name="Message">
         <xsd:sequence>
             <xsd:element name="text" type="xsd:string"/>
             <xsd:element name="code" type="xsd:integer"/>
             <xsd:element name="limit-warning" type="xsd:boolean" fixed="true" minOccurs="0" />
         </xsd:sequence>
     </xsd:complexType>
 
      <xsd:complexType name="SimpleProperty">
         <xsd:complexContent>
             <xsd:extension base="Property">
                 <xsd:sequence>
                     <xsd:element name="zestimate" type="Zestimate"/>
                 </xsd:sequence>
             </xsd:extension>
         </xsd:complexContent>
     </xsd:complexType>
     
     <xsd:complexType name="Zestimate">
         <xsd:sequence>
             <xsd:element name="amount" type="Amount"/>
             <xsd:element minOccurs="0" name="last-updated" type="xsd:string"/>
             <xsd:element name="oneWeekChange" type="AmountOptional"/>
             <xsd:element name="valueChange" type="AmountOptional"/>             
             <xsd:element name="valuationRange">
                 <xsd:complexType>
                     <xsd:sequence>
                         <xsd:element name="low" type="Amount"/>
                         <xsd:element name="high" type="Amount"/>
                     </xsd:sequence>
                 </xsd:complexType>
             </xsd:element>
             <xsd:element name="percentile" type="xsd:string"/>
         </xsd:sequence>
     </xsd:complexType>
     
           <xsd:complexType name="Amount">
          <xsd:simpleContent>
             <xsd:extension base="xsd:integer">
                  <xsd:attribute name="currency" type="Currency" use="required"/>
             </xsd:extension>
          </xsd:simpleContent>
      </xsd:complexType>
     
     <xsd:complexType name="AmountOptional">
         <xsd:simpleContent>
             <xsd:extension base="xsd:string">
                 <xsd:attribute name="currency" type="Currency"/>
                 <xsd:attribute name="duration" type="xsd:integer"/>
                 <xsd:attribute name="deprecated" type="xsd:boolean" fixed="true"/>
             </xsd:extension>
         </xsd:simpleContent>
     </xsd:complexType>
   
      <xsd:complexType name="Property">
           <xsd:sequence>
             <xsd:element name="zpid" type="xsd:unsignedInt"/>
             <xsd:element name="links" type="Links" />
             <xsd:element name="address" type="Address"/>
             <xsd:element minOccurs="0" name="FIPScounty" type="xsd:string"/>
             <xsd:element minOccurs="0" name="useCode" type="xsd:string"/>
             <xsd:element minOccurs="0" name="taxAssessmentYear" type="xsd:string"/>
             <xsd:element minOccurs="0" name="taxAssessment" type="xsd:string"/>
             <xsd:element minOccurs="0" name="yearBuilt" type="xsd:string"/>
             <xsd:element minOccurs="0" name="lotSizeSqFt" type="xsd:string"/>
             <xsd:element minOccurs="0" name="finishedSqFt" type="xsd:string"/>
             <xsd:element minOccurs="0" name="bathrooms" type="xsd:string"/>
             <xsd:element minOccurs="0" name="bedrooms" type="xsd:string"/>
             <xsd:element minOccurs="0" name="totalRooms" type="xsd:string"/>
             <xsd:element minOccurs="0" name="lastSoldDate" type="xsd:string"/>
             <xsd:element minOccurs="0" name="lastSoldPrice" type="Amount"/>
           </xsd:sequence>
     </xsd:complexType>
     
         <xsd:simpleType name="Currency">
          <xsd:restriction base="xsd:string">
              <xsd:enumeration value="USD"/>
          </xsd:restriction>
      </xsd:simpleType>
     
     <xsd:complexType name="Links">
         <xsd:sequence>
             <xsd:element name="homedetails"   type="xsd:string"/>
             <xsd:element name="graphsanddata" type="xsd:string"/>
             <xsd:element name="mapthishome"   type="xsd:string"/>
             <xsd:element name="myestimator"   type="xsd:string"/>
               <xsd:element name="myzestimator"  type="DeprecatedType"/>                           
         </xsd:sequence>
     </xsd:complexType>
     
       <xsd:complexType name="DeprecatedType">
         <xsd:simpleContent>
           <xsd:extension base="xsd:string">
             <xsd:attribute name="deprecated" type="xsd:boolean" fixed="true" use="required" />
           </xsd:extension>
         </xsd:simpleContent>
     </xsd:complexType>
     
     <xsd:complexType name="Address">
          <xsd:sequence>
              <xsd:element name="street" type="xsd:string"/>
              <xsd:element name="zipcode" type="xsd:string"/>
              <xsd:element name="city" type="xsd:string"/>
              <xsd:element name="state" type="xsd:string"/>
             <xsd:element name="latitude" type="xsd:decimal"/>
             <xsd:element name="longitude" type="xsd:decimal"/>
         </xsd:sequence>
     </xsd:complexType>
     
     <xsd:complexType name="ComparableProperty">
         <xsd:complexContent>
             <xsd:extension base="SimpleProperty">
                 <xsd:attribute name="score" type="xsd:decimal"/>
             </xsd:extension>
         </xsd:complexContent>
     </xsd:complexType>
 <xsd:element name="updatedPropertyDetails">
   <xsd:complexType>
     <xsd:sequence>

       <xsd:element name="request">
         <xsd:complexType>
           <xsd:sequence>
             <xsd:element name="zpid" type="xsd:unsignedInt"/>
           </xsd:sequence>
         </xsd:complexType>
       </xsd:element>

       <xsd:element name="message" type="Message"/>

       <xsd:element minOccurs="0" name="response">
         <xsd:complexType>
           <xsd:sequence>
             <xsd:element name="zpid" type="xsd:unsignedInt"/>
             
             <xsd:element name="pageViewCount">
               <xsd:complexType>
                 <xsd:sequence>
                   <xsd:element name="currentMonth" type="xsd:unsignedInt"/>
                   <xsd:element name="total" type="xsd:unsignedInt"/>
                 </xsd:sequence>
               </xsd:complexType>
             </xsd:element>
             
             <xsd:element name="address" type="Address"/>
                           
             <xsd:element name="listing">
               <xsd:complexType>
                 <xsd:sequence>
                   <xsd:element name="status" type="xsd:string"/>
                   <xsd:element name="type" type="xsd:string"/>
                   <xsd:element name="lastUpdatedDate" type="xsd:date"/>
                 </xsd:sequence>
               </xsd:complexType>
             </xsd:element>
             
             <xsd:element name="price" type="xsd:unsignedInt"/>

             <xsd:element name="links">
               <xsd:complexType>
                 <xsd:sequence>
                   <xsd:element name="homeDetails" type="xsd:string"/>
                   <xsd:element name="photoGallery" type="xsd:string"/>
                   <xsd:element name="homeInfo" type="xsd:string"/>
                   <xsd:element name="ownersEstimate" type="xsd:string"/>
                 </xsd:sequence>
               </xsd:complexType>
             </xsd:element>
             
             <xsd:element name="images">
               <xsd:complexType>
                 <xsd:sequence>
                   <xsd:element name="count" type="xsd:unsignedInt"/>
                   <xsd:element name="lings">
                     <xsd:complexType>
                       <xsd:sequence>
                         <xsd:element name="url" type="xsd:string"/>
                       </xsd:sequence>
                     </xsd:complexType>
                   </xsd:element>
                 </xsd:sequence>
               </xsd:complexType>
             </xsd:element>
             
             <xsd:element name="editedFacts">
               <xsd:complexType>
                 <xsd:sequence>
                   <xsd:element minOccurs="0" name="useCode" type="xsd:string"/>
                   <xsd:element minOccurs="0" name="bedrooms" type="xsd:unsignedInt"/>
                   <xsd:element minOccurs="0" name="bathrooms" type="xsd:unsignedInt"/>
                   <xsd:element minOccurs="0" name="finishedSqFt" type="xsd:unsignedInt"/>
                   <xsd:element minOccurs="0" name="lotSizeSqFt" type="xsd:unsignedInt"/>
                   <xsd:element minOccurs="0" name="yearBuilt" type="xsd:unsignedInt"/>
                   <xsd:element minOccurs="0" name="yearUpdated" type="xsd:unsignedInt"/>
                   <xsd:element minOccurs="0" name="numFloors" type="xsd:unsignedInt"/>
                   <xsd:element minOccurs="0" name="numRooms" type="xsd:unsignedInt"/>
                   <xsd:element minOccurs="0" name="basement" type="xsd:string"/>
                   <xsd:element minOccurs="0" name="roof" type="xsd:string"/>
                   <xsd:element minOccurs="0" name="view" type="xsd:string"/>
                   <xsd:element minOccurs="0" name="parkingType" type="xsd:string"/>
                   <xsd:element minOccurs="0" name="coveredParkingSpaces" type="xsd:unsignedInt"/>
                   <xsd:element minOccurs="0" name="heatingSources" type="xsd:string"/>
                   <xsd:element minOccurs="0" name="heatingSystem" type="xsd:string"/>
                   <xsd:element minOccurs="0" name="coolingSystem" type="xsd:string"/>
                   <xsd:element minOccurs="0" name="appliances" type="xsd:string"/>
                   <xsd:element minOccurs="0" name="floorCovering" type="xsd:string"/>
                   <xsd:element minOccurs="0" name="rooms" type="xsd:string"/>
                   <xsd:element minOccurs="0" name="architecture" type="xsd:string"/>
                   <xsd:element minOccurs="0" name="floorNumber" type="xsd:unsignedInt"/>
                   <xsd:element minOccurs="0" name="numUnits" type="xsd:unsignedInt"/>
                 </xsd:sequence>
               </xsd:complexType>
             </xsd:element>

             <xsd:element name="homeDescription" type="xsd:string"/>
             <xsd:element name="whatOwnerLoves" type="xsd:string"/>
             <xsd:element name="neighborhood" type="xsd:string"/>
             <xsd:element name="schoolDistrict" type="xsd:string"/>
             <xsd:element name="elementarySchool" type="xsd:string"/>
             <xsd:element name="middleSchool" type="xsd:string"/>
             <xsd:element name="highSchool" type="xsd:string"/>
             
           </xsd:sequence>
         </xsd:complexType>
       </xsd:element>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
 </xsd:schema>
